

.login_bg{background: url('../images/bg1.jpg') no-repeat; width: 100%; height: 100vh;}
.register_bg{background: url('../images/bg4.jpg') no-repeat; width: 100%; height: 100vh; background-size:100% 100%;}
.reset_bg{background: url('../images/bg6.jpg') no-repeat; width: 100%; height: 100vh; background-size:100% 100%;}
.forgot_bg{background: url('../images/bg8.jpg') no-repeat; width: 100%; height: 100vh; background-size:100% 100%;}

.from-conatiner{border:0px solid #fff; padding: 50px 60px; margin-top: 10vh;
-webkit-box-shadow: 0px 0px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px 11px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px 11px rgba(0,0,0,0.75);
}

.vaild{
	color:green !important;
}

#InputText, #ConfirmText, #EmailText{
	text-align:right;
	font-weight:bold;
	color:red;
	
}

#strength {
	color:green;
}


/*.form-conatiner{border:1px solid #fff; padding: 30px 40px;}*/
/*background-image: url('https://example.com/img/gradient.png');*/
