<!DOCTYPE html>
<html lange="en">
<head>
	<title>Forgot Password Page</title>
</head>
<body>
<div class="container-fluid forgot_bg">
	<div class="row">
		<div class="col-md-4 col-sd-4 col-xs-12"></div>
		<div class="col-md-4 col-sd-4 col-xs-12">

			<form class="from-conatiner" id="token" value = "">
			<h1>Reset From</h1>
			  <div class="form-group">
			    <label for="InputPassword">Enter Your Reset Password</label>
			    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
			    <progress value="0" max="100" id="strength" style="width: 100%"></progress>
			    <p id="InputText"></p>
			  </div>
			   <div class="form-group">
			    <label for="ConfirmPassword">Confirm Password</label>
			    <input type="password" class="form-control" id="ConfirmPassword" placeholder="Password">
			    <p id="ConfirmText"></p>
			  </div>
			  <button type="button" class="btn btn-success btn-block" id="ForgotSummitButton">Summit</button>
			</form>
		</div>
		<div class="col-md-4 col-sd-4 col-xs-12"></div>
	</div>
</div>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="css/global.css" type="text/css" rel="stylesheet">

<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/global.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/jQuery-MD5.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>